<h2><%= @students.name %></h2>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Roll No</label>
    <div class="col-sm-10">
      	<input type="text" readonly class="form-control-plaintext" value="<%= @students.roll_no %>" >
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      	<input type="text" readonly class="form-control-plaintext" value="<%= @students.email %>" >
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      	<input type="text" readonly class="form-control-plaintext" value="<%= @departments.name %>" >
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Section</label>
    <div class="col-sm-10">
     	<input type="text" readonly class="form-control-plaintext" value="<%= @sections.name %>" >
    </div>
</div>
